<section class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>When society develops, the demand for clothes is also very large with many different material designs and trends in a certain period of time.When society develops, the demand for clothes is also very large with many different material designs and trends in a certain period of time.</p>
						<img src="assets/images/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-2 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">Orders</a></li>
							<li><a href="">Returns</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Shipping</a></li>
							<li><a href="">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>News</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<img class="lp-thumb set-bg" src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.15752-9/87362267_176910826941376_369949207064215552_n.jpg?_nc_cat=104&_nc_sid=b96e70&_nc_ohc=nxlrzmKcb-oAX9pugj_&_nc_ht=scontent-sin6-1.xx&oh=f416312331070c824809c51112a86730&oe=5EA159AA">
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>April 20, 2019</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<img class="lp-thumb set-bg" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.15752-9/90908231_3250137815073366_294218535519911936_n.jpg?_nc_cat=108&_nc_sid=b96e70&_nc_ohc=oDEhQqZBRiQAX9lhmOy&_nc_ht=scontent-sin6-2.xx&oh=f4ac169d262392caf0102b1e4184019b&oe=5EA18023">
								<div class="lp-content">
									<h6>Trends this year</h6>
									<span>May 21, 2019</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Contact</h2>
						<div class="con-info">
							<span>Địa chỉ:</span>
							<p>Số 88A, ngõ 53 Yên Lãng, Trung Liệt, Hà Nội</p>
						</div>
						<div class="con-info">
							<span>Địa chỉ:</span>
							<p>Số 8 Ngõ 68 Cầu Giấy, Cầu Giấy, Hà Nội</p>
						</div>
						<div class="con-info">
							<span>Điện thoại:</span>
							<p>097 292 3162 - 037 8644 324</p>
						</div>
						<div class="con-info">
							<span>Email</span>
							<p>NhungHong@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fab fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fab fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fab fa-pinterest"></i><span>pinterest</span></a>
					<a href="https://www.facebook.com/danIT010111" class="facebook"><i class="fab fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fab fa-youtube"></i><span>youtube</span></a>
				</div>

<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
	All rights reserved | Design and code are made with by <i class="fas fa-heart"></i><a href="#" target="_blank">NhungHog</a></p>


			</div>
		</div>
	</section>