#b1 {
height: 40px;
width: 70px;
}
#b2 {
height: 40px;
width: 70px;

}
#b3 {
height: 40px;
width: 70px;
}
table{
  background-color: lightcyan;
  
}
thead{
  background-color: khaki
}
h3{
  color: rgb(133, 121, 121);
}
.snip1325 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 255px;
  max-width: 420px;
  height: 290px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  
}
.snip1325 img {
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  
}
.snip1325:hover img,
.snip1325.hover img {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}
/* Demo purposes only */
body {
  background-color: #212121;
}
ul{
  padding-top: 120px;
}


