h1{
  color: red;
  padding-top: 40px;
}
#dm{
  background-color: rgb(157, 157, 209);
  font-size: 20px;
  color: rgb(122, 119, 119)
}
span{
  background-color: rgb(247, 92, 151)
}
.i1{
  padding-bottom: 10px;
  
    opacity: 0.3;

}
h2{
  color: rgb(221, 90, 112)
}
#d1{
background-image: none
}
#ul1{
   opacity: 0.8;
}
.snip1325 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1325 img {
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.snip1325:hover img,
.snip1325.hover img {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}
/* Demo purposes only */
body {
  background-color: #212121;
}
