h1{
  color: red;
  padding-top: 40px;
}
#dm{
  background-color: rgb(157, 157, 209);
  font-size: 20px;
  color: rgb(122, 119, 119)
}
span{
  background-color: rgb(247, 92, 151)
}
img{
  /* height: px; */
}
h2{
  color: rgb(221, 90, 112)
}
