<!-- <h1 class="my-4">0611.oo</h1> -->

<div class="list-group">




	<!-- <ul class="list-group">
		<div id="d1">

			<h2>
				<img class="i1" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.15752-9/91362005_143625037069049_4604974577976606720_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=JDemNl8p-9wAX9Y6hH9&_nc_ht=scontent-hkg3-1.xx&oh=466d6ade7c7f20a4a8e08288d15433a7&oe=5EA58650">
         Danh mục</h2>

		</div>

		<a class="" routerLink="/home">Trang chủ</a>
		<a class="" routerLink="/introduce">Giới thiệu</a>
		<a class="" routerLink="/product">Sản phẩm</a>
		<a class="" routerLink="/contact">Liên hệ</a>
		<a class="" routerLink="/blog">Blog</a>



	</ul> -->
	<br>


	<!-- <ul class="list-group">
		<div>

			<h2>
				<img class="i1" src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.15752-9/91365704_2794008544039264_796494220390039552_n.png?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=BCLw062Mi_8AX_rplti&_nc_ht=scontent-xsp1-2.xx&oh=fb072b533d0744586a8b92e67221d51c&oe=5EA6CF27">
        Hỗ trợ khách</h2>

		</div>

		<a class="" routerLink="/introduce">Giới thiệu</a>

		<a class="" routerLink="/contact">Liên hệ</a>
		<a class="" routerLink="/blog">Blog</a>
		<br>
		<hr>
		<br>
	</ul> -->
		<!-- <ul id="ul1" class="list-group">


			<a id="dm" href="#" class="list-group-item d-flex justify-content-between align-items-center">
				Trang phục nữ
			</a>
			<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
				Áo phông
				<span id="s1" class="badge badge-primary badge-pill">-35%</span>&nbsp;
			</a>
			<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
				Quần jeans
				<span class="badge badge-primary badge-pill">Sale up to 50%</span>
			</a>
			<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
				Đồ lót
				<span class="badge badge-primary badge-pill">-14</span>
			</a>
			<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
				Đồ ngủ
				<span class="badge badge-primary badge-pill">+</span>
			</a>
			<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
				Đồ ngủ
				<span class="badge badge-primary badge-pill">+</span>
			</a>

			<br><br>
			

</ul> -->
          <div class="">
              <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="fab fa-sistrix"></i></button>
                          </span>
                      </div><!-- /input-group -->
                      <div class="br"></div>
                  </aside>
                  <aside class="single_sidebar_widget author_widget">
                      <img class="author_img rounded-circle" src="assets/images/blog/sang.png" alt="">
                      <h4>Nhung Hog</h4>
                      <p>@Abababbaba</p>
                      <div class="social_icon">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                          <a href="#"><i class="fa fa-behance"></i></a>
                      </div>
                      <!-- <p>Tôi là Nhung. Tôi là người thân thiện và thích giúp đỡ mọi người, 
                        Tôi thích giải quyết vấn đề khó và những công việc mang tính thử thách. 
                        Tôi khá nghiêm túc trong công việc và tôi có thể chịu đựng được áp lực cao. </p> -->
                      <div class="br">
                        
                      </div>
                  </aside>
              
                  <aside id="as1" class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Danh mục sản phẩm</h4>
                      <ul class="list cat-list">
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Áo thun</p>
                                  	<span id="s1" class="badge badge-primary badge-pill">-35%</span>&nbsp;
                                  <p>37</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Áo khoác</p>
                                  <p>24</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Áo dạ</p>
                                  	<span class="badge badge-primary badge-pill">Sale up to 50%</span>
                                  <p>59</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Áo Len</p>
                                  <p>29</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Quần Jeans</p>
                                  <p>15</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Quần đũi</p>
                                  <span class="badge badge-primary badge-pill">new</span>
                                  <p>09</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Đồ ngủ</p>
                                  <p>44</p>
                              </a>
                          </li>
                      </ul>
                      <div class="br"></div>
                  </aside>

			<br><br>
			<ul class="list-group">
         <h3 style="text-align:center;color: gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fashion</h3>
				<figure class="snip1325"><a
						href="#"><img src="https://scontent-xsp1-1.xx.fbcdn.net/v/t1.15752-9/91243822_518298842211215_6234947433114107904_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=THYsxnZrt6wAX-YjQrG&_nc_ht=scontent-xsp1-1.xx&oh=0b0c5b0888f4b8552ecc87aafee27875&oe=5EA570AA" alt="ls-sample4"/></a>
				</figure>
        <hr>
        <h3 style="text-align:center;color: gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot</h3>
				<figure class="snip1325"><a
						href="#"><img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.15752-9/91174210_200219014610191_3818070663076249600_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=C-aX4CJ6zi8AX-1mRyP&_nc_ht=scontent-sin6-2.xx&oh=1ee32c6cbc493418a3ad68aba66e0d8e&oe=5EA31289" alt="ls-sample7"/></a>
				</figure>


			</ul>
       <aside class="single_sidebar_widget post_category_widget">
       <ul class="list cat-list">
                          <li>
                              <a href="/contact" routerLink="/contact" class="d-flex justify-content-between">
                                  <p>Liên hệ</p>
                                  &nbsp;
                                  <p>37</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" routerLink="/aboutt" class="d-flex justify-content-between">
                                  <p>Giới thiệu</p>
                                    <span class="badge badge-primary badge-pill">*</span>
                                  <p>24</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" routerLink="/blog" class="d-flex justify-content-between">
                                  <p>Blog</p>
                                  
                                  <p>59</p>
                              </a>
                          </li>
                        
                    
                      </ul>
       </aside>

			<br><br>
			<ul class="list-group">
				<img id="img1" src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.15752-9/91176654_658758471547284_8935482118465650688_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=FMPCF1dgLFoAX-mdcub&_nc_ht=scontent.fhan3-1.fna&oh=15bbef2bc133d35d77bbd2c7cecb662b&oe=5EC393D0">
      </ul>
      
				<br><br>
			
					<!-- <ul class="list-group">
						<a id="dm" href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Trang sức
						</a> -->
            <aside id="as" class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Trang sức</h4>
                      </aside>
                      <ul class="list-group">
						<a  href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Đồng hồ
							<span class="badge badge-primary badge-pill">25</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Vòng cổ
							<span class="badge badge-primary badge-pill"></span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Vòng tay
							<span class="badge badge-primary badge-pill">new</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Nhẫn
							<span class="badge badge-primary badge-pill">-10%</span>
						</a>


					</ul>
          <br><br>
          	<ul class="list-group">
				<img id="img2"  src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.15752-9/90924814_586561998603402_2478189287909097472_n.jpg?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=mMGl9F-6PswAX-1Bt7c&_nc_ht=scontent-sin6-1.xx&oh=a9af36f42ede22e1f76611b74eef5e3c&oe=5EA26D56">
      </ul>
					<br><br>
					<!-- <ul class="list-group">
						<a id="" href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Trang sức
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Đồng hồ
							<span class="badge badge-primary badge-pill"></span>
						</a>
					
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Túi xách
							<span class="badge badge-primary badge-pill"></span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Ví
							<span class="badge badge-primary badge-pill">14</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center">
							Phụ kiện
							<span class="badge badge-primary badge-pill">new</span>
						</a>


					</ul> -->


</div>