
div{

  margin-top: 0px;
  /* padding-top: 40px; */


}
h1{
  margin-top: 10px;
  color: rgb(38, 146, 189)
}
.form-group input{
  padding: 10px;
}
input {
width: 500px
}
form{
   margin-top: 50px;
}