<!-- <app-categoryy></app-categoryy> -->
<h1>Thêm mới sản phẩm</h1>
<form class="">

  <div class="form-group">
    <label for=""> Tên sản phẩm</label>
    <input type="text" name="name" class="form-control"placeholder="Tên sản phẩm" [(ngModel)]="product.name">
    <label for=""> Giá sản phẩm</label>
    <input type="number" name="price" class="form-control"placeholder="Giá" [(ngModel)]="product.price">
    <label for=""> Mô tả </label>
    <input type="text" name="desc" class="form-control"placeholder="Mô tả" [(ngModel)]="product.desc">
    <label for=""> Trạng thái</label>
    <input type="text" name="status" class="form-control"placeholder="(true/false)" [(ngModel)]="product.status">
    <label for=""> Ảnh </label>
    <input type="text" name="img" class="form-control"placeholder="Url""" [(ngModel)]="product.img">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addProduct()">Thêm sản phẩm</button>
  <!-- <button type="submit" class="btn btn-primary" routerLink = '/product/add'>Thêm sản phẩm</button> -->

</form>


