p{
  margin-top: 150px;
}
h1{
  color: royalblue;
  text-align: center;
}
#a{
  margin-top: 200px;
}
img{
  height: 360px;
  width: 300px;
  margin: 30px
}
#ip{
  height: 100px;
}
#ip{
  width: 100px;
}
