
div {
  /* padding-top: 60px; */
  margin-top: 23px;
  
  
}
div{
  /* margin-bottom: 15px */
}
#td{
  font-style: tahoma;
  font-size: 32px;
  color: royalblue;
  margin-top: 100px
}
button{
  margin: 5px;
}
#b1{

width: 90px;
}
#b2{
width: 90px;
}
#b3{

}
#p1{
  color: rgb(243, 189, 10)
}
h3{
  padding-top: 10px;
  color: rgb(247, 140, 176);
}
#c1{
  margin-bottom: 100px
}
#a :hover{
  color: pink;
}

