<app-header></app-header>
<section class="blog_categorie_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="categories_post">
                  <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/92247971_853649985040390_6858538747047182336_n.jpg?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=TbPNabRYsrEAX_WCCSx&_nc_ht=scontent.fhan3-3.fna&oh=93701d4ee22d30f54c210d2ab82be53d&oe=5EC37B16" alt="post">
                  <div class="categories_details">
                      <div class="categories_text">
                          <a href="#">
                              <h5>Social Life</h5>
                          </a>
                          <div class="border_line"></div>
                          <p>Enjoy your social life together</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="categories_post">
                  <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.15752-9/94038203_257058525471350_419610101431664640_n.jpg?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=lwdE86JJ0sAAX8Ri-E7&_nc_ht=scontent.fhan3-1.fna&oh=b85848676caa0f750d4c647915fe4344&oe=5EC230F3" alt="post">
                  <div class="categories_details">
                      <div class="categories_text">
                          <a href="#">
                              <h5>Politics</h5>
                          </a>
                          <div class="border_line"></div>
                          <p>Be a part of politics</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="categories_post">
                  <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/94014765_710370426435294_8654341346045198336_n.jpg?_nc_cat=106&_nc_sid=b96e70&_nc_ohc=rrrQM7Vn200AX8OFnNT&_nc_ht=scontent.fhan3-3.fna&oh=358e083267a55fcedfff764829e041ba&oe=5EC4716E" alt="post">
                  <div class="categories_details">
                      <div class="categories_text">
                          <a href="#">
                              <h5>Food</h5>
                          </a>
                          <div class="border_line"></div>
                          <p>Let the food be finished</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="blog_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="blog_left_sidebar">
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              <div class="post_tag">
                                  <a href="#">Food,</a>
                                  <a class="active" href="#">Technology,</a>
                                  <a href="#">Politics,</a>
                                  <a href="#">Lifestyle</a>
                              </div>
                              <ul class="blog_meta list">
                                  <li><a href="#">abababbaba<i class="far fa-user"></i></a></li>
                                  <li><a href="#">29 March, 2020<i class="far fa-calendar-alt"></i></a></li>
                                  <li><a href="#">1.2M Views<i class="far fa-eye"></i></a></li>
                                  <li><a href="#">106 Comments<i class="far fa-comment-dots"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/94078668_2715718828686932_7361070222989590528_n.jpg?_nc_cat=103&_nc_sid=b96e70&_nc_ohc=nnC67M8gsh4AX836MTx&_nc_ht=scontent.fhan3-2.fna&oh=91b5bd0359184504c12ab4a437ebd19b&oe=5EC2869F" alt="">
                              <div class="blog_details">
                                  <a href="#">
                                      <h2>Astronomy Binoculars A Great Alternative</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                      understand why you should have to spend money on boot camp when you can get
                                      the MCSE study materials yourself at a fraction.</p>
                                  <a href="#" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              <div class="post_tag">
                                  <a href="#">Food,</a>
                                  <a class="active" href="#">Technology,</a>
                                  <a href="#">Politics,</a>
                                  <a href="#">Lifestyle</a>
                              </div>
                              <ul class="blog_meta list">
                                  <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                  <li><a href="#">29 March, 2020<i class="lnr lnr-calendar-full"></i></a></li>
                                  <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                  <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/94186388_2081362002007633_864882726946209792_n.jpg?_nc_cat=106&_nc_sid=b96e70&_nc_ohc=iI6W4apJ3eIAX-CKN5_&_nc_ht=scontent.fhan3-3.fna&oh=787db33984ea8c87babc7cad37158b96&oe=5EC44786" alt="">
                              <div class="blog_details">
                                  <a href="#">
                                      <h2>The Basics Of Buying A Telescope</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                      understand why you should have to spend money on boot camp when you can get
                                      the MCSE study materials yourself at a fraction.</p>
                                  <a href="#" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              <div class="post_tag">
                                  <a href="#">Food,</a>
                                  <a class="active" href="#">Technology,</a>
                                  <a href="#">Politics,</a>
                                  <a href="#">Lifestyle</a>
                              </div>
                              <ul class="blog_meta list">
                                  <li><a href="#">abababbaba<i class="far fa-user"></i></a></li>
                                  <li><a href="#">29 March, 2020<i class="far fa-calendar-alt"></i></a></li>
                                  <li><a href="#">1.2M Views<i class="far fa-eye"></i></a></li>
                                  <li><a href="#">106 Comments<i class="far fa-comment-dots"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.15752-9/94175085_696087927803487_380495400475295744_n.jpg?_nc_cat=104&_nc_sid=b96e70&_nc_ohc=RwB-nh5VUDUAX_0aRAz&_nc_ht=scontent.fhan4-1.fna&oh=c6ec30097bd9bfd98d16feddf243569a&oe=5EC2C29E" alt="">
                              <div class="blog_details">
                                  <a href="#">
                                      <h2>The Glossary Of Telescopes</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                      understand why you should have to spend money on boot camp when you can get
                                      the MCSE study materials yourself at a fraction.</p>
                                  <a href="#" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              <div class="post_tag">
                                  <a href="#">Food,</a>
                                  <a class="active" href="#">Technology,</a>
                                  <a href="#">Politics,</a>
                                  <a href="#">Lifestyle</a>
                              </div>
                              <ul class="blog_meta list">
                                  <li><a href="#">Abababbaba<i class="far fa-user"></i></a></li>
                                  <li><a href="#">29 March, 2020<i class="far fa-calendar-alt"></i></a></li>
                                  <li><a href="#">1.2M Views<i class="far fa-eye"></i></a></li>
                                  <li><a href="#">106 Comments<i class="far fa-comment-dots"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/94159530_524537684874098_8518096986186973184_n.jpg?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=NQaq3zxp5xUAX_Cw2z3&_nc_ht=scontent.fhan3-3.fna&oh=07ca94d51d9f14300cfd39e8291609f9&oe=5EC29272" alt="">
                              <div class="blog_details">
                                  <a href="#l">
                                      <h2>The Night Sky</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                      understand why you should have to spend money on boot camp when you can get
                                      the MCSE study materials yourself at a fraction.</p>
                                  <a href="#" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              <div class="post_tag">
                                  <a href="#">Food,</a>
                                  <a class="active" href="#">Technology,</a>
                                  <a href="#">Politics,</a>
                                  <a href="#">Lifestyle</a>
                              </div>
                              <ul class="blog_meta list">
                                  <li><a href="#">Abababbaba<i class="far fa-user"></i></a></li>
                                  <li><a href="#">29 March, 2020<i class="far fa-calendar-alt"></i></a></li>
                                  <li><a href="#">1.2M Views<i class="far fa-eye"></i></a></li>
                                  <li><a href="#">106 Comments<i class="far fa-comment-dots"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.15752-9/70784863_897169220662912_1854073678728265728_n.jpg?_nc_cat=104&_nc_sid=b96e70&_nc_ohc=xDI7hlUtJIYAX_9fGAT&_nc_ht=scontent.fhan4-1.fna&oh=dc04c82778f88316a389173f3da0cd60&oe=5EC5F8BE" alt="">
                              <div class="blog_details">
                                  <a href="#">
                                      <h2>Telescopes 101</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                      understand why you should have to spend money on boot camp when you can get
                                      the MCSE study materials yourself at a fraction.</p>
                                  <a href="#" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <nav class="blog-pagination justify-content-center d-flex">
                      <ul class="pagination">
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">
                                      <span class="fas fa-chevron-left"></span>
                                  </span>
                              </a>
                          </li>
                          <li class="page-item"><a href="#" class="page-link">01</a></li>
                          <li class="page-item active"><a href="#" class="page-link">02</a></li>
                          <li class="page-item"><a href="#" class="page-link">03</a></li>
                          <li class="page-item"><a href="#" class="page-link">04</a></li>
                          <li class="page-item"><a href="#" class="page-link">09</a></li>
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <span class="fas fa-chevron-right"></span>
                                  </span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="fab fa-sistrix"></i></button>
                          </span>
                      </div><!-- /input-group -->
                      <div class="br"></div>
                  </aside>
                  <aside class="single_sidebar_widget author_widget">
                      <img class="author_img rounded-circle" src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.15752-9/91919383_205196400923692_8631526823366230016_n.jpg?_nc_cat=107&_nc_sid=b96e70&_nc_ohc=xLJBipY12aIAX-6ELEy&_nc_ht=scontent-hkt1-1.xx&oh=8326aca7f9be21909f72e0370b55686d&oe=5EA4A104" alt="">
                      <h4>Nhung Hog</h4>
                      <p>Abababbaba</p>
                      <div class="social_icon">
                          <a href="#"><i class="fab fa-facebook"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-github"></i></a>
                          <a href="#"><i class="fab fa-behance"></i></a>
                      </div>
                      <!-- <p>Tôi là Nhung. Tôi là người thân thiện và thích giúp đỡ mọi người, 
                        Tôi thích giải quyết vấn đề khó và những công việc mang tính thử thách. 
                        Tôi khá nghiêm túc trong công việc và tôi có thể chịu đựng được áp lực cao. </p> -->
                      <div class="br">
                        
                      </div>
                  </aside>
              
                  <aside class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Post Catgories</h4>
                      <ul class="list cat-list">
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Technology</p>
                                  <p>37</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Lifestyle</p>
                                  <p>24</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Fashion</p>
                                  <p>59</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Art</p>
                                  <p>29</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Food</p>
                                  <p>15</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Architecture</p>
                                  <p>09</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex justify-content-between">
                                  <p>Adventure</p>
                                  <p>44</p>
                              </a>
                          </li>
                      </ul>
                      <div class="br"></div>
                  </aside>
                  
                  <aside class="single-sidebar-widget tag_cloud_widget">
                      <h4 class="widget_title">Tag Clouds</h4>
                      <ul class="list">
                          <li><a href="#">Technology</a></li>
                          <li><a href="#">Fashion</a></li>
                          <li><a href="#">Architecture</a></li>
                          <li><a href="#">Fashion</a></li>
                          <li><a href="#">Food</a></li>
                          <li><a href="#">Technology</a></li>
                          <li><a href="#">Lifestyle</a></li>
                          <li><a href="#">Art</a></li>
                          <li><a href="#">Adventure</a></li>
                          <li><a href="#">Food</a></li>
                          <li><a href="#">Lifestyle</a></li>
                          <li><a href="#">Adventure</a></li>
                      </ul>
                  </aside>
              </div>
          </div>
      </div>
  </div>
</section>