

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <!-- <app-category></app-category> -->
    </div>
    <!-- <app-category></app-category> -->
    <!-- /.col-lg-3 -->
 
    <!-- <div class="col-lg-9"> -->
      <router-outlet></router-outlet>
      <app-slide></app-slide>
      <!-- <app-product-add></app-product-add> -->
      <br>
      <app-product-list></app-product-list>


      <!-- /.row -->

    <!-- </div> -->
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  
</footer> -->






































